@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.wrap {
  position: relative;
  overflow: hidden;
  font-family: "GmarketSansMedium";
}
.wrap::after {
  content: "";
  position: absolute;
  background: url(../../assets/landing.png) 0px 100%/100% no-repeat;
  width: 44%;
  aspect-ratio: 355/214;
  bottom: 130px;
  right: -1%;

  animation: slidein 3s;
}
.wrap-content {
  max-width: 1110px;
  padding: 0 0 130px 0;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 130px 0 0 0;
  letter-spacing: -3px;
}
.text {
  color: #fff;
  letter-spacing: -1px;
  line-height: 27px;
  margin: 23px 0 0 0;
}
.point {
  color: #ffac34;
  font-weight: bold;
}

.function {
  margin: 60px 0 70px;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.functionItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.functionItem .title {
  font-size: 22px;
  color: #ffac34;
  font-weight: bold;
  letter-spacing: -1px;
}

.functionItem .desc {
  color: #fff;
  letter-spacing: -1px;
}

.action {
  position: relative;
  width: 44%;
}
.action .title {
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: 20px;
  padding: 20px 0 20px 35px;
  background-color: #fff;
  font-size: 18px;
  color: #081a3e;
  letter-spacing: -1px;
  font-weight: bold;
}
.action .button {
  position: absolute;
  top: 0px;
  right: 0;
  border: none;
  background: #ffac34;
  color: #081a3e;
  font-size: 24px;
  letter-spacing: -1px;
  font-weight: bold;
  padding: 19px 30px 20px 30px;
  border-radius: 60px;
  cursor: pointer;
  transform: translateX(50%);
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    transform: translate(50%, 0%);
  }
  to {
    opacity: 1;
    transform: translate(0% 0%);
  }
}

@media screen and (max-width: 1023px) {
  .wrap {
    padding: 0 40px;
  }
  .wrap-content h1 {
    font-size: 2rem;
  }
  .action .title {
    padding: 20px 0 20px 20px;
  }
  .action .button {
    transform: translateX(50%);
    padding: 19px 15px 20px 15px;
  }
}

/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (min-width: 480px) and (max-width: 767px) {
  /*스타일입력*/
  /* .wrap::after {
    width: 46%;
    bottom: 240px;
  } */
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width: 479px) {
  /*스타일입력*/
  .wrap {
    padding: 0 16px;
    height: 100%;
  }
  .wrap::after {
    width: 95%;
    bottom: 30px;
    right: -19px;
  }
  .wrap-content h1 {
    letter-spacing: -0.5px;
    font-size: 23px;
    padding: 40px 0 0 0;
  }
  .text {
    font-size: 14px;
  }
  .action {
    width: 100%;
    border-radius: 20px;
  }
  .action .title {
    padding: 15px;
    font-size: 14px;
  }
  .action .button {
    transform: translateX(0%);
    font-size: 18px;
    padding: 15px;
    bottom: 0;
    right: -8px;
  }
  .function {
    margin: 30px 0 40px;
    gap: 20px;
  }
  .functionItem {
    gap: 0;
  }
  .functionItem .title {
    font-size: 18px;
  }
  .functionItem .desc {
    font-size: 14px;
  }
}
